{% extends "base.html" %}
{% block title %}{{ basic["title"] }}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>

<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="main-panel">
    <div class="content">
        <div>
            <div class="panel-header bg-primary-gradient">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h2 class="text-white pb-2 fw-bold">{{ basic['title'] }}</h2>
                        </div>
                        <div class="ml-md-auto py-2 py-md-0">

                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner mt--5">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title"></div>
                                <div class="card-tools">

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form id="register_form">
                                <div>
                                    <!--<div class="col-md-5">-->
                                        <!--<label class="control-label">-->
                                            <!--Código:-->
                                        <!--</label>-->
                                        <!--<input id="code" name="code" readonly-->
                                           <!--class="form-control" placeholder="Código">-->
                                    <!--</div>-->
                                    <div>
                                        <div class="col-md-5">
                                            <label class="control-label">
                                                Desde cuenta:
                                            </label>
                                            <select id="from_acc"
                                                   name="from_acc" class="form-control" >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            Hasta cuenta:
                                        </label>
                                        <select id="to_acc"
                                               name="to_acc" class="form-control" >
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">
                                        Cantidad:
                                    </label>

                                    <input id="amount" name="amount" type="number"
                                           class="form-control" placeholder="Cantidad a transferir">
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">
                                        Notas:
                                    </label>
                                    <input id="notes" name="notes" type="text"
                                           class="form-control" placeholder="Notas">
                                </div>
                            </form>
                            <div class="col-md-6" >
                                    <button class="btn btn-primary" onClick="create(this); "><i class="fa fa-send"></i> Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/jquery.3.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/popper.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js')}}"></script>

<!-- jQuery UI -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>

<!-- jQuery Scrollbar -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>


<!-- Chart JS -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/chart.js/chart.min.js')}}"></script>

<!-- jQuery Sparkline -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')}}"></script>

<!-- Chart Circle -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/chart-circle/circles.min.js')}}"></script>

<!-- Datatables -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/datatables/datatables.min.js')}}"></script>

<!-- Bootstrap Notify -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>

<!-- jQuery Vector Maps -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/jqvmap/jquery.vmap.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')}}"></script>

<!-- Sweet Alert -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/sweetalert/sweetalert.min.js')}}"></script>

<!-- Atlantis JS -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/plugin/webfont/webfont.min.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='assets/js/atlantis.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/select2.full.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/pdfmake.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/vfs_fonts.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/bootbox/bootbox.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/addentry.js')}}"></script>
{% endblock %}
