{% extends "base.html" %}
    {% block title %}{{ basic["title"] }}{% endblock %}
    {% block head %}
        {{ super() }}
        <style type="text/css">
            .important { color: #336699; }
        </style>
        <script type="text/javascript" src="{{ url_for('static', filename='js/libs/sha.js')}}"></script>
    {% endblock %}
    {% block content %}
	    <div class="main-panel">
			<div class="content">
				<div class="panel-header bg-primary-gradient" style="display:none;">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">
									{{ user_details.name}}</h2>
							</div>
							<div class="ml-md-auto py-2 py-md-0">

							</div>
						</div>
					</div>
				</div>
				<div class="page-inner mt--5 panel_sys">
					<div id="pos_prep" class="row mt--2">
						<div class="col-md-12">
                            <div class="card" id="pos">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">POS DISPONIBLES</div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-container" id="pos_aviable">
                                        
                                    </div>

                                </div>
                            </div>
                            <div class="card" id="zones" style="display:none;">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title"><button onclick="gobackPOS();"
                                         class='btn btn-primary'><span class='btn-label'>
                                            <i class='fa-solid fa-arrow-left'></i></span></button>  ZONAS DISPONIBLES</div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-container" id="zones_aviable">
                                    </div>

                                </div>
                            </div>
                            <div class="card" id="tables" style="display:none;">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">
                                            <button onclick="gobackZones();"
                                         class='btn btn-primary'><span class='btn-label'>
                                            <i class='fa-solid fa-arrow-left'></i></span></button>   MESAS DISPONIBLES</div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="tables_aviable">
                                        
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                        

					</div>

                    <div id="orders" style="display:none;" class="row">
                        <div class="card" id="tables">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-title">
                                        <button onclick="gobackDashboard();"
                                     class='btn btn-primary'><span class='btn-label'>
                                        <i class='fa-solid fa-arrow-left'></i></span></button>   ORDEN DE MESA: <span id="table_name"></span></div>
                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div id="order_details" class="col-md-7">

                                        <div id="products_selected" class="selected_prods">
    
                                        </div>
                                        <div id="products_selected" class="buttoons_funciontals">
                                            <button type="button" class="btn btn-success btn-lg btn-block"><i class="fa-solid fa-send"></i>Enviar</button>
                                            <br/>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary">Imprimir Pre-cuenta</button>
                                                <button type="button" class="btn btn-secondary">Imprimir Pre-cuenta<br/>Seleccionada</button>
                                                <button type="button" class="btn btn-secondary">Cliente</button>
                                                <button type="button" class="btn btn-secondary">Descuento</button>
                                                <button type="button" class="btn btn-secondary">Precio</button>
                                                <button type="button" class="btn btn-secondary">Borrar</button>
                                            </div><br/>
                                           
                                        </div>
                                    </div>

                                    <div id="product_details" class="product_div col-md-5">
                                            
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                            
                    </div>
				</div>
			</div>

		</div>

        <!--   Core JS Files   -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/jquery.3.2.1.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/popper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js')}}"></script>

        <!-- jQuery UI -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>

        <!-- jQuery Scrollbar -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>


        <!-- Chart JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/chart.js/chart.min.js')}}"></script>

        <!-- jQuery Sparkline -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')}}"></script>

        <!-- Chart Circle -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/chart-circle/circles.min.js')}}"></script>

        <!-- Datatables -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/datatables/datatables.min.js')}}"></script>

        <!-- Bootstrap Notify -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>

        <!-- jQuery Vector Maps -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/jqvmap/jquery.vmap.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')}}"></script>

        <!-- Sweet Alert -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/sweetalert/sweetalert.min.js')}}"></script>

        <!-- Atlantis JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugin/webfont/webfont.min.js')}}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/atlantis.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/libs/select2.full.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/libs/pdfmake.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/libs/vfs_fonts.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/bootbox/bootbox.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>

    {% endblock %}
